
/* ------------------ CHECKOUT ----------------------- */


*{
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 17vh;
    height: 100vh;
}

.header {
    background-color: white;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 16vh;
    box-shadow: 0px 2px 10px 2px black;
}

.main-container {
    border: 1px solid black;
    height: 75vh;
    width: 95vw;
    padding: 50px;
    padding-top: 20px;
}

.main-layout {
    display: flex;
    justify-content: space-between;
    height: 90%;
    width: 100%;
}

.item {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.item .details {
    width: 100%;
}

.details .summary {
    display: flex;
    width: 100%;
    height: 50%;
    flex-direction: column;
    align-items: end;
    justify-content: flex-end;
    gap: 5px;
}

.item-list{
    height: 60vh;
    width: 43vw;
    border: 3px solid black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-y: auto;
}
.transaction-container{
    padding: 10px;
    border: 3px solid black;
    height: 60%;
    width: 43vw;
}

.transaction-summary {
    height: 80px;
    padding: 10px;
}

table hr {
    border: 1px dashed;
}

.payment-container{
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: start;
}

.payment-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.buttons-container {
    margin-top: 40px;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.button {
    height: 40px;
    width: 120px;
    border: 2px solid black;
    background-color: white;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

.checkout {
    background-color: black;
    color: white;
    height: 50px;
    width: 140px;
    border-radius: 50px;
}

/* ---------------------------------------------------------------------------------- */

.payment-container input[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.payment-container [type=radio] + span {
    cursor: pointer;
    height: 100px;
    width: 150px;
    font-size: 100px;
    border-radius: 20px;
    padding: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.payment-container [type=radio]:checked + span {
    outline: 5px solid rgba(42, 148, 0, 0.542);
    background-color: rgba(103, 255, 27, 0.749);
  }