@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', 'sans-serif';
}


body {
    background-image: url(../resources/background.jpg);
    background-size: cover;
    height: 100vh;
}

.main-container {
    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.header {
    position: fixed;
    width: 100%;
}

.upload-container {
    height: 50vh;
    width: 40vw;
    background-color: rgba(245, 245, 245, 0.79);
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
}

.upload-container input {
    position: relative;
    left: 20px;
    width: 250px;
}

.upload-container input[type="submit"] {
    border-radius: 15px;
}

.message{
    position: sticky;
    top: 0;
    max-width: 1200px;
    margin:0 auto;
    display: flex;
    align-items: center;
    
 }

 .message .error {
    background-color: rgb(255, 163, 163);
    border: 2px solid red;
    display: flex;
    padding-left: 20px;
    align-items: center;
    height: 40px;
    width: 100%;
 }

 .message .success {
    background-color: rgb(168, 255, 163);
    border: 2px solid greenyellow;
    justify-content: center;
    height: 40px;
    width: 100%;
 }

 .message i {
    position: relative;
    right: 40px;
}

.nav-bar{
    position: fixed;
    z-index: 2;
    height: 100vh;
    width: 5vw;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    padding: 10px;
    transition: width .5s;
}

.nav-bar:hover{
    width: 20vw;
    border-right: 5px solid black;
}

.nav-bar .icons {
    overflow: hidden;
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.nav-bar .icons .icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    overflow: hidden;

    background-size: 200% 100%;
    transition: background-position .4s, color .5s;
    background-image: linear-gradient(to right, #333 48%, aliceblue 50%);
    background-position: 100% 0;
}

.nav-bar .icons .icon:hover {
    color: white;
    background-position: 0 0;
}

.nav-bar .icons .icon:hover a{
    color: white;
}

.nav-bar .icons .icon a {
    text-decoration: none;
    font-weight: bold;
    margin-left: 30px;
    color: black;
    transition: color .5s;
}
.nav-bar .icons .material-symbols-outlined{
    font-size: 35px;
}

.main-content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-content .container {
    background-color: rgba(240, 248, 255, 0.125);
    backdrop-filter: blur(5px);
    border-radius: 20px;
    height: 80vh;
    width: 80vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.container h2 {
    font-size: 30px;
    padding-left: 20px;
    color: white;
}

.main-content .container .dashboard {
    height: 55vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.container .dashboard div {
    padding: 20px;
    background-color: aliceblue;
    border-radius: 20px;
}

.dashboard div h1 {
    font-size: 80px;
    text-align: end;
}

.selected {
    border-left: 3px solid #333;
}


/* -------- LOADER -------------- */

.lds-ring {
    /* change color here */
    color: #ffffff
  }
  .lds-ring,
  .lds-ring div {
    box-sizing: border-box;
  }
  .lds-ring {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid currentColor;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: currentColor transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  /* ------------------------------------------------ */